@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%;
    background-color: #252525;
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    align-items: center;
    height: 100%;
}

.container {
    color: #e4e4e4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.painel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px;
    width: 150px;
    padding: 10px;
    text-align: center;
    margin-block: 2rem;
    border-radius: 50px;
    box-shadow: 0px 0px 15px 10px #333333;
    
}

.painel p {
    opacity: .8;
    cursor: pointer;
}

.painel p.active {
    opacity: 1;
    color: #8C6554;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: 20px;
    box-shadow: 0px 0px 15px 10px #333333
}

.circleTimer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: solid 5px #8C6554;
    width: 200px;
    height: 200px;
}

.time {
    display: flex;
    flex-direction: row;
}

.time p {
    font-size: 50px;
}

.control {
    margin-top: 30px;
}

.control button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 30px;
}

.control #restart {
    display: none;
}

.control a {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}